body
{
	background-image: url('img/back.jpg');
}

.img
{
	width: 100%;
	height: 1%;
	background-position-x: center;
	background-position-y: -10px;
}

.texto
{
	background-image: url('img/back.jpg');
	background-position-x: center;
	background-position-y: 45%;
	font-size: 220%;
	font-family: 'Questrial';
	text-align: right;
}

.skill
{
	height: 20px;
	background-color: #737373;
	float: right;
	margin-left: 10px;
	font-size: 80%;
	font-weight: bold;
	color: #e6e6e6;
}

.contacts li
{
	text-decoration: none;
	list-style: none;
	display: inline-block;
}

.img_contacts
{
	width: 150px;
	height: 150px;
}

.bubb
{
	margin-top: 70px;
}
